<div class="container">
  <div class="jumbotron">
    <h1>Diana Hilton</h1>
    <p>I'm a multifaceted data scientist and software engineer in San Francisco.</p>
    <p>Physics; Data Science; Web Development; Engineering; Technology; Entrepreneurship; 아시아;</p>
  </div>
  <div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h1>EDUCATION</h1>
      </div>
      <div class="panel-body">
        <h3>University of Michigan, Ann Arbor, MI</h3>
        <h4>Physics (Biological), M.S.;  June 2007 - May 2009</h4>
        <h3>William Jewell College, Liberty, MO</h3>
        <h4>Physics, English, B.A.; August 2003 - May 2007</h4>
        <h4>Minor in Math, summa cum laude honors</h4>
      </div>
    </div>

    <div class="panel panel-danger">
      <div class="panel-heading">
        <h1>TECHNICAL SKILLS</h1>
      </div>
      <div class = "panel-body">
        <h4>Ruby, Rails, JavaScript, Node, Backbone, Angular, Ember, jQuery, CSS, HTML, Bootstrap, Google Analytics/Charts/Maps/Dev Tools, Excel, MatLab, Python, R, Postgres, ActiveRecord, SQL</h4>
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h1>EXPERIENCE</h1>
      </div>
      <div class = "panel-body">
        <div class="panel panel-warning">
          <div class="panel-heading">
          <h2>TECHNOLOGY & BUSINESS:</h2>
        </div>
          <h3>Doblet, San Francisco; March 2014-Present</h3>
          <h4>Ruby on Rails full-stack developer and business data analyst.</h4>
          <h3>General Assembly Web Development Immersive, San Francisco; August - December 2014</h3>
          <h4>Immersive training experience as a full-stack developer. Created web applications using a variety of technologies.</h4>
          <h3>Sprint Mobile Health Accelerator by Techstars, Kansas City, MO; March - June 2014</h3>
          <h4>Data analyst for a three-month program for startups developing solutions in mobile health care technology.</h4>
        </div>

         <div class="panel panel-warning">
          <div class="panel-heading">
          <h2>SCIENTIFIC RESEARCH:</h2>
        </div>
          <h3>Nanyang Technological University, School of Materials Science and Engineering,
            Singapore; 2012 - 2013</h3>
            <h4>Lab Manager; analyzed metal oxide supported lipid bilayer biomimetic membrane platforms.</h4>
            <h3>University of Michigan, Ann Arbor, MI; 2007 - 2009</h3>
            <h4>Biophysics Researcher; imaged zinc homeostasis in cells using synchrotron x-ray fluorescence.</h4>
            <h3>University of California, Los Angeles; June - August 2006</h3>
            <h4>Physics Researcher; developed and tested CMOS-based bio-imaging hardware technology.</h4>
          </div>

          <div class="panel panel-warning">
          <div class="panel-heading">
            <h2>ACADEMIC CURRICULUM DEVELOPMENT & TEACHING:</h2>
          </div>
            <h3>Freelance, Bangkok, Thailand; June - December 2013</h3>
            <h4>Writing consultant and tutor for non-native English speakers and scientists.</h4>
            <h3>Asian Research Network, Singapore; May - October 2012</h3>
            <h4>Coordinator and research mentor for undergraduate research programs.</h4>
            <h3>Chonnam Science High School, South Korea; 2010 - 2012</h3>
            <h4>Instructor; developed original curriculum focused on scientific writing for gifted students.</h4>
            <h3>University of Michigan, Ann Arbor, MI; 2008 - 2009</h3>
            <h4>Graduate instructor in a physical chemistry course intended for pre-meds.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>